*{
    margin: 0px;
    padding: 0px;
}

.na{
    background:#333;
    padding: 16px 16px;
    text-align: center;
}

.na a {
    font-size: 20px ;
    padding: 14px 16px ;  
    color: aliceblue;
    
   text-decoration: none;   
}
.na a.home {
  background-color: #4CAF50;
  color: white;
}

.na a:hover {
  background-color: #ddd;
  color: black;
}

.na a.active {
  border-bottom: 2px solid blue; 
}
.txt {
     
    background:rgb(173,175,175);
    color: aliceblue;
    height: auto;
    padding: 10px;
}
.txt h1.heade{
    margin: auto;
    background: white;
    color: black;
    width: 180px;
    padding: 5px;
}
.txt h1.headp{
    margin: auto;
    background: white;
    color: black;
    width: 100px;
    padding: 5px;
}
.txt h1.headu{
    margin: auto;
    background: white;
    color: black;
    width: 200px;
    padding: 5px;
}
.txt h1.headt{
    margin: auto;
    background: white;
    color: black;
    width: 70px;
    padding: 5px;
}
.txt p{
    background: white;
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 25px;
}

@media screen and (max-width: 1080px) {
.na a {
 display:block;
  }
}
@media screen and (max-width: 1080px) {
 .re h3 {
width: 35%;
  }
}